<div id="app">
   <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
         <li>
            <router-link to="/board">Board</router-link>
         </li>
         <li>
            <router-link to="/create">Create a card</router-link>
         </li>
      </ul>
   </nav>
   <router-view></router-view>
   <div class="content">
      <h1>Hello World</h1>
      <p>My Name is Aziz  developer, Passionate about learning new technologies and especially the open source , JavaScript , linux lover !</p>
      <h2>About this example</h2>
      <p>this is a nodejs as backend and a vue js as front end framework application <strong>it is a Board task management</strong></p>
      <ul>
         <li>Display cards the borad.(show - update - create - delete)</li>
         <li>Use vue-router to navigate between components</li>
         <li>Vuex to manage states</li>
         <li>Sequelize as an ORM to querying the DATABASE </li>
         <li>Using axios for ajax calls  </li>
      </ul>
      <p>it's a sample example to get starting with <strong>the vue js ecosystem</strong> hope you enjoy it </p>
   </div>
</div>